name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '8'

    - name: Build with Maven
      run: mvn -B package

  deploy:
    runs-on: ubuntu-latest

    needs: build

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '8'

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build JAR with Maven
      run: mvn package
    - name: Debug Docker Build and Push
      run: |
            echo "Building Docker image..."
            docker build -t sjcmag/project-final-group .
            echo "Tagging Docker image..."
            docker tag sjcmag/project-final-group:latest sjcmag/project-final-group:latest
            echo "Pushing Docker image..."
            docker push sjcmag/project-final-group:latest
    - name: Stop MySQL Container
      run: docker network create test2

